@model StudentAdmissions.UI.Models.StudentModels.AddOrUpdateStudent
@{
    ViewData["Title"] = "Enroll New Student";
}

<h1>Join Fourth Wall Academy!</h1>
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
@Html.HiddenFor(model => model.StudentID)


<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 form-horizontial">
        <form asp-controller="Student" asp-action="EnrollStudent" method="post">
            <div class="mb-3">
                <label asp-for="FirstName" class="form-label">First Name</label>
                <input type="text" class="form-control" id="FirstName" asp-for="FirstName">
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="LastName" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="LastName" asp-for="LastName">
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Alias" class="form-label">Alias</label>
                <input type="text" class="form-control" id="Alias" asp-for="Alias">
                <span asp-validation-for="Alias" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="DoB" class="form-label">Date of Birth</label>
                <input type="date" class="form-control" id="DoB" asp-for="DoB">
                <span asp-validation-for="DoB" class="text-danger"></span>
            </div>

            <div mt-5>
                <button type="submit" class="btn btn-primary">Enroll</button>
                <a class="btn btn-secondary" asp-controller="Home" asp-action="index">Cancel</a>
            </div>
        </form>
    </div>
</div>


